<template>
  <button
    class="button is-medium"
    @click="decrement(boss.name)"
  >-</button>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'BossDecrementButton',
  props: {
    boss: {
      required: true,
      type: Object,
    },
  },
  methods: mapActions({
    decrement: 'bossDecrement',
  }),
};
</script>

<style scoped>

</style>
