<template>
  <button
    class="button is-medium"
    @click="increment(boss.name)"
  >+</button>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'BossIncrementButton',
  props: {
    boss: {
      required: true,
      type: Object,
    },
  },
  methods: mapActions({
    increment: 'bossIncrement',
  }),
};
</script>

<style scoped>

</style>
