<template>
  <button
    class="button is-medium"
    @click="decrement"
  >-</button>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'DecrementButton',
  methods: mapActions({
    decrement: 'decrement',
  }),
};
</script>

<style scoped>

</style>
